@font-face {
    font-family: 'cornerstone';
    src: url('../css/fonts/cornerstone/cornerstone-webfont.woff2') format('woff2'),
         url('../css/fonts/cornerstone/cornerstone-webfont.woff') format('woff');
}

body {
    background-color: black;
    overflow-x: hidden;
}

.bgTest::after {
    content: "";
    background: url(../images/inFlames.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
}

.header {
    width: 100%;
    margin-top: -10px;
}

#audio {
    position: absolute;
    opacity: 0.4;
    margin-left: 86em;
}

/* .audiohide {
    visibility: hidden;
} */

h1 {
    font-size: 8em;
    font-family: 'cornerstone', Arial;
    color: white;
    width: 100%;
    text-align: center;
    border-top: 10px solid #FFC804;
    border-bottom: 10px solid #FFC804;
    padding-top: 10px;
    margin-top: 0px;
    animation: titleIn 1.5s ease-in-out;
}

@keyframes titleIn {
    0% {
        margin-top: 300px;
    }
    50% {
        margin-top: 300px;
    }
    100% {
        margin-top: 0px;
    }
}

@media all and (max-width: 1373px) {
    h1 {
      background-color: lightblue;
      font-size: 4em;
      border-top: 8px solid #FFC804;
      border-bottom: 8px solid #FFC804;
    }
  }

  @media all and (max-width: 703px) {
    h1 {
      background-color: hotpink;
      font-size: 2.6em;
      border-top: 7px solid #FFC804;
      border-bottom: 7px solid #FFC804;
    }
  }

.skylineTop {
    opacity: 0.2;
    transform: rotate(180deg);
    width: 75%;
    margin-top: -90px;
    margin-left: 11em;
    margin-right: auto;
    padding-top: 0em;
    position: relative;
    /* display: block; */
    z-index: -1;
    animation: skylineFadeIn 3s ease-in-out forwards;
}

@keyframes skylineFadeIn {
    0% {
        opacity: 0;
        padding-top: 25em;
    }
    25% {
        opacity: 0;
        padding-top: 25em;
    }
    75% {
        opacity: 0;
        padding-top: 25em;
    }
    100% {
        opacity: 0;
        padding-top: 0em;
    }
}

.alinea1 {
    margin-left: 250px;
    margin-top: -450px;
    z-index: 1;
}
.h21 {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: #FFC804;
    margin-bottom: -25px;  
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(255, 60, 0, 0.644) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.fist1:hover + .h21 {
    background-position: -63%;
}
.p1 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1.5em;
    color: white;
    border-left: 5px solid #FFC804;
    padding-left: 5px;
}
.fist1 {
    position: absolute;
    height: 70px;
    margin-left: -80px;
    margin-top: 120px;
}
.fist1:hover {
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 50px;
}
@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 rgba(255, 60, 0, 1);
    transform: scale(1);
    }
    70% {
    box-shadow: 0 0 0 30px rgba(255, 60, 0, 0);
    transform: scale(0.90);
    }
    100% {
    box-shadow: 0 0 0 0 rgba(255, 60, 0, 0);
    transform: scale(1);
    }
  }

.goFundFamily {
    width: 300px;
    float: right;
    margin-right: -320px;
    margin-top: -170px;
    transform: rotate(-0deg);
}

.goFundFamily:hover {
    filter: invert(1);
    transition: 1s ease;
}

@keyframes pulseSign {
    0% {
    margin-right: -75px;
    margin-top: -180px;
    transform: scale(1) rotate(-45deg);
    }
    20% {
    transform: scale(1.1) rotate(-45deg);
    }
    40% {
    transform: scale(0.9) rotate(-45deg);
    }
    60% {
    transform: scale(1.1) rotate(-45deg);
    }
    100% {
    margin-right: -75px;
    margin-top: -180px;
    transform: scale(1) rotate(-45deg);
    }
}

.animateFundFamily {
    animation: signRight 1s ease-out forwards;
}

@keyframes signRight {
    0% {
        margin-right: -320px;
        margin-top: -150px;
        transform: rotate(0deg) scale(1);
        filter: hue-rotate(90deg) contrast(0) invert(1);
    }
    90% {
        margin-right: -75px;
        margin-top: -180px;
        transform: rotate(-45deg) scale(1.5);
        filter: hue-rotate(0deg) contrast(1) invert(0);
    }
    100% {
        margin-right: -75px;
        margin-top: -180px;
        transform: scale(1) rotate(-45deg);
    }
}

@keyframes wiggleR {
    0% {transform: rotate(-45deg);}
    20% {transform: rotate(-48deg);}
    30% {transform: rotate(-42deg);}
    45% {transform: rotate(-48deg);}
    58% {transform: rotate(-44deg);}
    68% {transform: rotate(-48deg);}
    82% {transform: rotate(-45deg);}
    90% {transform: rotate(-47deg);}
    100% {transform: rotate(-45deg);}
}

.alinea2 {
    margin-left: 450px;
    margin-top: 100px;
    z-index: 1;
}
.h22 {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: #FFC804;
    margin-bottom: -25px;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.h52 {
    font-family: 'Bebas Neue', Arial;
    font-size: 0.8em;
    color: #FFC804;
    margin-top: 2em;
    margin-bottom: -1em;
}
.fist2:hover + .h22 {
    background-position: -47%;
}
.p2 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1.5em;
    color: white;
    border-left: 5px solid #FFC804;
    padding-left: 5px;
}
.fist2 {
    position: absolute;
    height: 70px;
    margin-left: -80px;
    margin-top: 90px;
}
.fist2:hover {
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 50px;
}

.polaroidContainer {
    position: relative;
    height: 250px;
    margin-top: 125px;
    margin-bottom: 150px;
    /* background-color: royalblue; */
}
.polaroidText {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: #FFC804;
    margin-left: 480px;
    text-decoration: underline;
    text-decoration-color: white;
}
.polaroid1 {
    width: 230px;
    margin-left: -250px;
    margin-right: -360px;
    /* margin-bottom: -150px; */
    position: absolute;
    transition: 0.3s ease;
}
.polaroid1:hover {
    transform: rotate(-5deg) scale(1.2);
    transition: 0.8s ease;
}
.polaroid2 {
    width: 230px;
    margin-left: -250px;
    margin-right: -360px;
    /* margin-bottom: -150px; */
    position: absolute;
    transition: 0.3s ease;
}
.polaroid2:hover {
    transform: rotate(5deg) scale(1.2);
    transition: 0.8s ease;
}
.polaroid3 {
    width: 230px;
    margin-left: -250px;
    margin-right: -360px;
    /* margin-bottom: -150px; */
    position: absolute;
    transition: 0.3s ease;
}
.polaroid3:hover {
    transform: rotate(-5deg) scale(1.2);
    transition: 0.8s ease;
}

.animatePolaroid1 {
    animation: polaroidSlideIn1 1s 1.5s ease-out forwards;
}
.animatePolaroid2 {
    animation: polaroidSlideIn2 1s 2.5s ease-out forwards;
}
.animatePolaroid3 {
    animation: polaroidSlideIn3 1s 3.5s ease-out forwards;
}

@keyframes polaroidSlideIn1 {
    from {
        margin-left: -220px;
        opacity: 0;
    }
    to {
        margin-left: 380px;
        opacity: 1;
    }
}
@keyframes polaroidSlideIn2 {
    from {
        margin-left: -220px;
        opacity: 0;
    }
    to {
        margin-left: 630px;
        opacity: 1;
    }
}
@keyframes polaroidSlideIn3 {
    from {
        margin-left: -220px;
        opacity: 0;
    }
    to {
        margin-left: 880px;
        opacity: 1;
    }
}

.alinea3 {
    margin-left: 250px;
    margin-top: 100px;
}
.h23 {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: #FFC804;
    margin-bottom: -25px;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.fist3:hover + .h23 {
    background-position: -36%;
}
.p3 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1.5em;
    color: white;
    border-left: 5px solid #FFC804;
    padding-left: 5px;
}
.fist3 {
    position: absolute;
    height: 70px;
    margin-left: -80px;
    margin-top: 75px;
}
.fist3:hover {
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 50px;
}

.signPetitions {
    width: 180px;
    float: left;
    margin-left: -400px;
    transform: rotate(0deg);
    margin-top: 30px;
    filter: contrast(0);
}

.animateSignPetitions {
    animation: signLeft 1s 1s ease-out forwards, wiggleL 1.5s 5s ease-in-out;
}

.signPetitions:hover {
    filter: contrast(1);
}

@keyframes signLeft {
    from {
        transform: rotate(0deg);
        margin-left: -190px;
        margin-top: 20px;
    }
    to {
        transform: rotate(30deg);
        margin-left: -70px;
        margin-top: 50px;
    }
}

@keyframes wiggleL {
    0% {transform: rotate(30deg);}
    20% {transform: rotate(34deg);}
    30% {transform: rotate(25deg);}
    45% {transform: rotate(36deg);}
    58% {transform: rotate(27deg);}
    68% {transform: rotate(33deg);}
    82% {transform: rotate(30deg);}
    90% {transform: rotate(32deg);}
    100% {transform: rotate(30deg);}
}

.alinea4 {
    margin-left: 450px;
    margin-top: 100px;
}
.h24 {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: #FFC804;
    margin-bottom: -25px;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.fist4:hover + .h24 {
    background-position: -49.5%;
}
.p4 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1.5em;
    color: white;
    border-left: 5px solid #FFC804;
    padding-left: 5px;
}
.fist4 {
    position: absolute;
    height: 70px;
    margin-left: -80px;
    margin-top: 130px;
}
.fist4:hover {
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 50px;
}

.alinea5 {
    margin-left: 250px;
    margin-top: 100px;
}
.h25 {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: #FFC804;
    margin-bottom: -25px;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.fist5:hover + .h25 {
    background-position: -39%;
}
.p5 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1.5em;
    color: white;
    border-left: 5px solid #FFC804;
    padding-left: 5px;
}
.fist5 {
    position: absolute;
    height: 70px;
    margin-left: -80px;
    margin-top: 140px;
}
.fist5:hover {
    animation: pulse 1.5s ease-in-out infinite;
    border-radius: 50px;
}
.readMore {
    background-color: #FFC804;
    border-radius: 30px;
    border: none;
    color: black;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 250px;
}

.bottomImage {
    opacity: 0;
    width: 100%;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.animateBottomImage {
    animation: zoomIn 0.5s 0.8s ease-in forwards;
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.callToActionsL {
    border-top: 8px solid #FFC804;
    border-bottom: 2px solid #FFC804;
}
.h26 {
    font-family: 'Bebas Neue', Arial;
    font-size: 3em;
    color: #FFC804;
    margin-left: 180px;
    margin-top: -80px;
    position: relative;
}
.megaphone {
    height: 90px;
    margin-top: 40px;
    margin-left: 80px;
    position: block;
}

.educateYourself {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: rgb(236, 236, 236);
    margin-left: 200px;
}
.link1 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1em;
    color: #FFC804;
    text-decoration-style: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.link1:hover {
    background-position: -100%;
}

.signPetitionsLink {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: rgb(236, 236, 236);
    margin-left: 200px;
}
.link2 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1em;
    color: #FFC804;
    text-decoration-style: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.link2:hover {
    background-position: -100%;
}

.donateLink {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: rgb(236, 236, 236);
    margin-left: 200px;
}
.link3 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1em;
    color: #FFC804;
    text-decoration-style: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.link3:hover {
    background-position: -100%;
}

.callToActionsR {
    float:right;
    margin-top: -363px;
}

.rememberThemLink {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: rgb(236, 236, 236);
    margin-right: 150px;
}
.link4 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1em;
    color: #FFC804;
    text-decoration-style: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.link4:hover {
    background-position: -100%;
}

.contactRepsLink {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: rgb(236, 236, 236);
    margin-right: 150px;
}
.link5 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1em;
    color: #FFC804;
    text-decoration-style: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.link5:hover {
    background-position: -100%;
}

.fundFamilyLink {
    font-family: 'Bebas Neue', Arial;
    font-size: 2em;
    color: rgb(236, 236, 236);
    margin-right: 150px;
}
.link6 {
    font-family: 'Bebas Neue', Arial;
    font-size: 1em;
    color: #FFC804;
    text-decoration-style: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgb(255, 60, 0) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.4s;
}
.link6:hover {
    background-position: -100%;
}

/* Credits

- Highlight text 
https://codepen.io/wesbos/pen/yepexZ/

- Animation on scroll
https://jsfiddle.net/m3qoy4n8/

- Background image
https://i2.wp.com/www.mbs.news/wp-content/uploads/2020/05/us-protest.jpg?fit=845%2C440&ssl=1
*/